.Uber-button{
    background-color:black;
    color:white;
    height:40px;
    width:120px;
    border:none;
    cursor:pointer;
    margin-right:10px;
    transition: opacity 0.15s;
}
.Uber-button:hover{
    opacity:0.8;
}
.Amazon-button{
    background-color: rgb(255, 216, 20);
    height:30px;
    width:165px;
    border:none;
    border-radius:20px;
    cursor:pointer;
    margin-right:10px;
    transition: background-color 0.15s;
}
.Amazon-button:hover{
    background-color:rgba(255, 200, 10);
}
.Github-button{
    background-color: rgb(46, 164, 79);
    color:white;
    border:none;
    height:30px;
    width:88px;
    font-weight: bold;
    border-radius: 6px;
    cursor:pointer;
    margin-right:10px;
    transition: box-shadow 0.15s;
}
.Github-button:hover{
    box-shadow:5px 5px 10px rgba(0,0,0,0.5);
}
.Bootstrap-button{
    background-color: rgb(121, 82, 179);
    color:white;
    font-weight: bold;
    border:none;
    height:40px;
    width:110px;
    border-radius: 3px;
    transition:background-color 0.15s;
}
.Bootstrap-button:hover{
    background-color:rgb(95,60,156);
}
.Bootstrap-button2{
    height:40px;
    width:110px;
    color:rgb(108,117,125);
    border-radius:3px;
    font-weight: bold;
    border-color: rgb(108,117,125);
    border-width:1px;
    border-style:solid;
    margin-left:2px;
    transition:background-color 0.15s , color 0.15s;
}
.Bootstrap-button2:hover{
    background-color:rgb(108,117,125);
    color:white;
}
.linkedin-button{
    background-color: rgb(10, 102, 194);
    color:white;
    font-weight: bold;
    height:35px;
    width:220px;
    border:none;
    border-radius: 20px;
    margin-left: 10px;
    transition:0.15s;
}
.linkedin-button:hover{
    background-color:rgb(2,70,138);
}
.linkedin-button2{
    color:rgb(10, 102, 194);
    height:35px;
    width:75px;
    border-radius: 20px;
    border-width:1px;
    border-style:solid;
    font-weight: bold;
    font-size:15px;
    border-color: rgb(10, 102, 194);
    margin-left:2px;
    cursor:pointer;
    transition:background-color 0.15s,border-width 0.15s;
}
.linkedin-button2:hover{
    background-color:rgb(226,240,254);
    border-width:2px;
}