.red-box{
    background-color: red;
    width:100px;
    height:100px;
}
.green-circle{
    margin-top:15px;
    background-color: green;
    width:100px;
    height:100px;
    border-radius:50px;
}
.service{
    margin-top:15px;
    font-family:Arial;
    width: 300px;
    height:100px;
    border-width:1px;
    border-style:solid;
    border-color:rgb(150,150,150);
    padding-left:15px;
    padding-bottom:20px;
}