p{
    font-family: Arial;
    color:rgb(100,100,100);
    margin-top:0;
    margin-bottom:0;
}
.email{
    margin-bottom:10px;
    font-size: 16px;;
}
.textbox{
    width:400px;
    font-size:16px;
    border-width:2px;
    border-radius: 3px;
    border-style: solid;
    border-color: rgb(100,100,100);
    padding-top:7px;
    padding-bottom:7px;
    border-radius:5px;
    margin-bottom:20px;
}
.terms{
    font-size:16px;
    margin-bottom: 20px;
}
.join{
    background-color: rgb(10, 102, 194);
    color:white;
    width:400px;
    font-size:20px;
    padding-top:16px;
    padding-bottom:16px;
    border-radius:30px;
    border:none;
    cursor:pointer;
}